html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'HSBombaram', HSBombaram, serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes scaleDown {
  0% {
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }

@keyframes scaleDown {
  0% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@-webkit-keyframes line01 {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(40px);
    transform: translateY(40px); } }

@-moz-keyframes line01 {
  0% {
    opacity: 0%;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 100%;
    -moz-transform: translateY(40px);
    transform: translateY(40px); } }

@keyframes line01 {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    transform: translateY(40px); } }

@-webkit-keyframes line02 {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px); } }

@-moz-keyframes line02 {
  0% {
    opacity: 0%;
    -moz-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 100%;
    -moz-transform: translateY(-40px);
    transform: translateY(-40px); } }

@keyframes line02 {
  0% {
    opacity: 0%;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    transform: translateY(-40px); } }

@font-face {
  font-family: HSBombaram;
  src: url(../font/HSBombaram.ttf); }

.spot {
  position: relative;
  height: 100vh; }
  .spot .spot_bg {
    width: 100%;
    height: 100vh;
    background: url(../img/spot_bg.jpg) 50% 50% no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-animation: scaleDown 3s ease 0s;
    -moz-animation: scaleDown 3s ease 0s;
    animation: scaleDown 3s ease 0s; }
  .spot .spot_dim {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    -webkit-animation: fadeIn 0.5s ease 2s forwards;
    -moz-animation: fadeIn 0.5s ease 2s forwards;
    animation: fadeIn 0.5s ease 2s forwards;
    background: rgba(0, 0, 0, 0.3); }
  .spot .title_area {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 100px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    z-index: 5; }
    .spot .title_area .line {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 0 auto;
      opacity: 0; }
      .spot .title_area .line.line01 {
        width: 600px;
        -webkit-animation: line01 1s ease 3s forwards;
        -moz-animation: line01 1s ease 3s forwards;
        animation: line01 1s ease 3s forwards; }
      .spot .title_area .line.line02 {
        width: 350px;
        -webkit-animation: line02 1s ease 3s forwards;
        -moz-animation: line02 1s ease 3s forwards;
        animation: line02 1s ease 3s forwards; }

.section_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .section_info .info_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/info_bg.jpg) 50% 50% no-repeat;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
    background-color: #f0e3bd; }
  .section_info .cover {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .section_info .cover_text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    font-size: 60px;
    line-height: 1.3;
    font-weight: 900;
    letter-spacing: 10px;
    color: #000;
    text-align: center;
    mix-blend-mode: screen; }
    .section_info .cover_text .point {
      font-size: 90px; }
  .section_info .info_text {
    position: relative;
    margin: 0 0 80px 400px;
    font-size: 18px;
    line-height: 35px;
    opacity: 0; }

.section_experience .work_content .cover_title {
  height: 100vh;
  background: #000A1B;
  font-size: 60px;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1; }
  .section_experience .work_content .cover_title .text_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .section_experience .work_content .cover_title .upper_text {
    -webkit-clip-path: inset(0 0 -webkit-calc(50% - 1px) 0);
    clip-path: inset(0 0 -moz-calc(50% - 1px) 0);
    clip-path: inset(0 0 calc(50% - 1px) 0); }
  .section_experience .work_content .cover_title .lower_text {
    -webkit-clip-path: inset(-webkit-calc(50% - 1px) 0 0 0);
    clip-path: inset(-moz-calc(50% - 1px) 0 0 0);
    clip-path: inset(calc(50% - 1px) 0 0 0); }

.section_experience .work01 .img_box_wrap {
  border: 1px solid red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .section_experience .work01 .img_box_wrap .img_box {
    width: 400px;
    height: 800px; }
    .section_experience .work01 .img_box_wrap .img_box img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .section_experience .work01 .img_box_wrap .img_box.box02 {
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px); }
    .section_experience .work01 .img_box_wrap .img_box.box03 {
      -webkit-transform: translateY(-20px);
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px); }
    .section_experience .work01 .img_box_wrap .img_box.box04 {
      -webkit-transform: translateY(30px);
      -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
      transform: translateY(30px); }

.section_experience .work02 .img_content_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  height: 900px;
  margin: 0 auto; }

.section_experience .work02 .img_box_wrap {
  position: relative;
  width: 780px;
  height: 650px; }
  .section_experience .work02 .img_box_wrap .img_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
    .section_experience .work02 .img_box_wrap .img_box.box01 {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    .section_experience .work02 .img_box_wrap .img_box img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.section_experience .work02 .small_box_wrap {
  position: relative;
  width: 380px;
  height: 460px;
  margin-left: 20px; }
  .section_experience .work02 .small_box_wrap .img_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0; }
    .section_experience .work02 .small_box_wrap .img_box.box01 {
      opacity: 1; }

.section_experience .work03 .work03_swiper {
  width: 537px;
  margin: 0 auto;
  border: 1px solid red; }
  .section_experience .work03 .work03_swiper .img_box {
    width: 537px;
    height: 738px; }
    .section_experience .work03 .work03_swiper .img_box img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.section_experience .work04 .img_box_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  margin: 0 auto; }
  .section_experience .work04 .img_box_wrap .img_box {
    margin-right: 15px; }
    .section_experience .work04 .img_box_wrap .img_box:last-child {
      margin-right: 0; }

.section_experience .work05 .img_box_wrap {
  max-width: 900px;
  margin: 0 auto; }
  .section_experience .work05 .img_box_wrap::after {
    content: '';
    clear: both;
    display: block; }

.section_experience .work05 .img_list:first-child {
  float: left; }

.section_experience .work05 .img_list:last-child {
  float: right; }

.section_experience .work05 .img_list li {
  width: 430px;
  margin-top: 20px; }
  .section_experience .work05 .img_list li img {
    width: 100%;
    height: auto; }

.test_wrap {
  text-align: left;
  background: blue;
  height: 100vh; }
  .test_wrap .test {
    font-size: 12px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.icon_turtle {
  display: inline-block; }

.icon_turtle2 {
  display: inline-block; }

.test_color {
  color: yellow; }

.fade_in {
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -webkit-transform 2s cubic-bezier(0.15, 0.85, 0.45, 1);
  transition: opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -webkit-transform 2s cubic-bezier(0.15, 0.85, 0.45, 1);
  -moz-transition: transform 2s cubic-bezier(0.15, 0.85, 0.45, 1), opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -moz-transform 2s cubic-bezier(0.15, 0.85, 0.45, 1);
  transition: transform 2s cubic-bezier(0.15, 0.85, 0.45, 1), opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1);
  transition: transform 2s cubic-bezier(0.15, 0.85, 0.45, 1), opacity 1s cubic-bezier(0.32, 0.94, 0.6, 1), -webkit-transform 2s cubic-bezier(0.15, 0.85, 0.45, 1), -moz-transform 2s cubic-bezier(0.15, 0.85, 0.45, 1); }
  .fade_in.on {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
